{% extends 'base.html.twig' %}

{% block title %}Hello SpectacleDetailController!{% endblock %}

{% block body %}


<div id="Wrapper">
        <div id="Header_wrapper">
            <div id="Subheader" style="padding:100px 0">
                <div class="container">
                    <div class="column one">
                        <h2 class="title">Shop</h2>
                    </div>
                </div>
            </div>
        </div>
        <div id="Content">
            <div class="content_wrapper clearfix">
                <div class="sections_group">
                    <div class="section">
                        <div class="section_wrapper clearfix">
                            <div class="items_group clearfix">
                                <div class="column one woocommerce-content">
                                    <div class="share-simple wide tabs product type-product has-post-thumbnail first">
                                        <div class="product_wrapper clearfix">
                                            <div class="column one-second product_image_wrapper">
                                                <div class="woocommerce-product-gallery woocommerce-product-gallery--with-images woocommerce-product-gallery--columns-4 images" data-columns="4" style="opacity: 0; transition: opacity .25s ease-in-out">
                                                    <figure class="woocommerce-product-gallery__wrapper">
                                                        <div data-thumb="images/adventure-book-cover-100x100.jpg" class="woocommerce-product-gallery__image">
                                                            <a href="images/adventure-book-cover.jpg">
                                                                	<img src="{{ asset('uploads/'~ spectacle.posterUrl) }}" class="wp-post-image" data-src="{{ asset('uploads/'~ spectacle.posterUrl) }}" data-large_image="{{ asset('uploads/'~ spectacle.posterUrl) }}">
                                                                </a>
                                                        </div>
                                                    </figure>
                                                </div>
                                            </div>
                                            <div class="summary entry-summary column one-second">
                                                <h1 class="product_title entry-title">{{spectacle.title}}</h1>
                                             
                                        
                                                <div class="woocommerce-product-details__short-description">
                                                    <p>
                                                        {{spectacle.description}}
                                                    </p>
                                                    <span class="spectacle-duration">
                                                        <i class="fa-solid fa-clock"></i>
                                                        <span class="duration-text">{{spectacle.duration}} minutes</span>
                                                    </span>

                                                    {% if spectacle.locationId and spectacle.locationId.localityId %}
                                                        <span class="spectacle-duration">
                                                            <i class="fa-solid fa-location-dot"></i>
                                                            
                                                                {{ spectacle.locationId.designation }}

                                                                <!-- A garder pour plus tard si besoin est-->
                                                               <!-- {{ spectacle.locationId.localityId.postalCode }} 
                                                                {{ spectacle.locationId.localityId.locality }}-->
                                                        
                                                        </span>
                                                    {% endif %}

                                                    <span class="spectacle-price">
                                                        <i class="fa-solid fa-tag"></i>
                                                        <span class="price-text">
                                                            {% set prix = null %}
                                                            {% for representation in spectacle.schedule %}
                                                                {% for reservationRepresentation in representation.representationReservations %}
                                                                    {% if prix is null and reservationRepresentation.priceId %}
                                                                        {% set prix = reservationRepresentation.priceId.price %}
                                                                    {% endif %}
                                                                {% endfor %}
                                                            {% endfor %}
                                                            
                                                            {% if prix is not null %}
                                                                {{ prix }} €
                                                            {% else %}
                                                                Prix non disponible
                                                            {% endif %}
                                                        </span>
                                                    </span>
                                                    
                                                </div>

                                                <h3 class="text-decoration-underline">Représentations</h3>
                                                {% if spectacle.schedule|length > 0 %}
                                                    <ul>
                                                        {% for representation in spectacle.schedule %}
                                                            <li>
                                                                Date: {{ representation.schedule|date('d/m/Y H:i') }}
                                                                {% if representation.locationId %}
                                                                    - Lieu: {{ representation.locationId.designation }}
                                                                {% endif %}
                                                            </li>
                                                        {% endfor %}
                                                    </ul>
                                                {% else %}
                                                    <p>Aucune représentation programmée pour ce spectacle.</p>
                                                {% endif %}
                                                <hr>
                                                {# Organiser les artistes par type #}
                                                {% set auteurs = [] %}
                                                {% set metteurs_en_scene = [] %}
                                                {% set distribution = [] %}

                                                {% for artisteTypeShow in spectacle.artisteTypeShows %}
                                                    {% set artisteType = artisteTypeShow.artisteTypeId %}
                                                    {% set artiste = artisteType.artistId %}
                                                    {% set type = artisteType.typeId %}
                                                    
                                                    {% if type.type == 'Auteur' %}
                                                        {% set auteurs = auteurs|merge([artiste]) %}
                                                    {% elseif type.type == 'Metteur en scène' %}
                                                        {% set metteurs_en_scene = metteurs_en_scene|merge([artiste]) %}
                                                    {% else %}
                                                        {% set distribution = distribution|merge([artiste]) %}
                                                    {% endif %}
                                                {% endfor %}

                                                {# Affichage des artistes par catégorie #}
                                                {% if auteurs|length > 0 %}
                                                    <h3>Auteur{% if auteurs|length > 1 %}s{% endif %}</h3>
                                                    <p>
                                                        {% for auteur in auteurs %}
                                                            {{ auteur.firstname }} {{ auteur.lastname }}{% if not loop.last %}, {% endif %}
                                                        {% endfor %}
                                                    </p>
                                                {% endif %}

                                                {% if metteurs_en_scene|length > 0 %}
                                                    <h3>Metteur{% if metteurs_en_scene|length > 1 %}s{% endif %} en scène</h3>
                                                    <p>
                                                        {% for metteur in metteurs_en_scene %}
                                                            {{ metteur.firstname }} {{ metteur.lastname }}{% if not loop.last %}, {% endif %}
                                                        {% endfor %}
                                                    </p>
                                                {% endif %}

                                                {% if distribution|length > 0 %}
                                                    <h3>Distribution</h3>
                                                    <p>
                                                        {% for artiste in distribution %}
                                                            {{ artiste.firstname }} {{ artiste.lastname }}{% if not loop.last %}, {% endif %}
                                                        {% endfor %}
                                                    </p>
                                                {% endif %}
                                                <hr>
                                                {% if spectacle.bookable %}
                                                <h3> Réservations </h3>
                                                <form class="cart" action="#" method="post" enctype="multipart/form-data">
                                                    <div class="quantity">
                                                        <label class="screen-reader-text" for="quantity_5af9b4eee8b1c">Quantity</label>
                                                        <input type="number" id="quantity_5af9b4eee8b1c" class="input-text qty text" step="1" min="1" max="" name="quantity" value="1" title="Qty" size="4" pattern="[0-9]*" inputmode="numeric" aria-labelledby="">
                                                    </div>
                                                    <button type="submit" name="add-to-cart" value="55" class="single_add_to_cart_button button alt">
															Add to cart
														</button>
                                                </form>
                                                {% else %}
                                                <div class="product_meta">
                                                    <span class="posted_in">Reservation indisponible pour le moment</span>
                                                </div>
                                                {% endif %}

                                                


                                                <div class="product_meta">
                                                    <span class="posted_in">Category: <a href="#" rel="tag">Uncategorized</a></span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <footer id="Footer" class="clearfix">
            <div class="widgets_wrapper" style="padding:70px 0">
                <div class="container">
                    <div class="column one-third">
                        <aside class="widget_text widget widget_custom_html">
                            <div class="textwidget custom-html-widget">
                                <h4>Find us here</h4>
                                <hr class="no_line" style="margin:0 auto 20px">
                                <p>
                                    <a style="margin-right:5px; font-size:18px" href="#"><i class="icon-facebook"></i></a><a style="margin-right:5px; font-size:18px" href="#"><i class="icon-gplus"></i></a><a style="margin-right:5px; font-size:18px" href="#"><i class="icon-twitter"></i></a>
                                    <a style="margin-right:5px;font-size:18px" href="#"><i class="icon-linkedin"></i></a>
                                </p>
                                <hr class="no_line" style="margin:0 auto 40px">
                            </div>
                        </aside>
                    </div>
                    <div class="column one-third">
                        <aside class="widget_text widget widget_custom_html">
                            <div class="textwidget custom-html-widget">
                                <h4> Contact with us</h4>
                                <hr class="no_line" style="margin:0 auto 20px">
                                <p>
                                    Nullam viverra consectetuer
                                    <br> quisque cursus et, porttitor risus.
                                </p>
                                <p>
                                    +61 (0) 3 8376 6284
                                    <br> noreply@envato.com
                                </p>
                            </div>
                        </aside>
                    </div>
                    <div class="column one-third">
                        <aside class="widget_text widget widget_custom_html">
                            <div class="textwidget custom-html-widget">
                                <h4> Localization</h4>
                                <hr class="no_line" style="margin:0 auto 20px"> Envato
                                <br> Level 13, 2 Elizabeth
                                <br> Victoria 3000
                                <br> Australia
                            </div>
                        </aside>
                    </div>
                </div>
            </div>
            <div class="footer_copy">
                <div class="container">
                    <div class="column one">
                        <a id="back_to_top" class="button button_js" href="#"><i class="icon-up-open-big"></i></a>
                        <div class="copyright">
                            © 2018 BeAdventure - BeTheme. Muffin group - HTML by <a target="_blank" rel="nofollow" href="http://bit.ly/1M6lijQ">BeantownThemes</a>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
    </div>

    <style>
    .spectacle-duration, .spectacle-price {
    display: inline-flex;
    align-items: center;
    background-color: #f5f5f5;
    padding: 0.4rem 0.8rem;
    border-radius: 20px;
    font-weight: 500;
    color: #555;
    box-shadow: 0 2px 4px rgba(0,0,0,0.05);
}

.spectacle-duration i, .spectacle-price i{
    color: #ff6b6b;
    margin-right: 0.5rem;
    font-size: 1.1em;
}

.duration-text {
    letter-spacing: 0.5px;
}
    </style>

{% endblock %}
