{% extends 'base.html.twig' %}

{% block title %}Détail du Lieu{% endblock %}

{% block body %}
    <h1>Détail du Lieu</h1>
    <p><strong>Designation :</strong> {{ location.designation }}</p>
    <p><strong>Adresse :</strong> {{ location.address }}</p>
    <p><strong>Site Web :</strong> {{ location.website }}</p>
    <p><strong>Téléphone :</strong> {{ location.phone }}</p>

    {# Si la relation avec la localité est établie, on peut l'afficher #}
    {% if location.locality %}
        <p><strong>Localité :</strong> {{ location.locality.locality }} ({{ location.locality.postalCode }})</p>
    {% endif %}

    <a href="{{ path('app_location_index') }}">Retour à la liste</a>
{% endblock %}
